body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5b5e3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    color: #007BFF;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 400px; /* Limit the width for larger screens */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 1px;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
}

p span {
    font-weight: bold;
    color: #007BFF;
}

.tips{
    color:green;
    font-size: 18px;
    font-weight: bold;
}

.error-text {
    color: red; 
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

